/*Style sheet*/

/*Whole page formatting*/

* {
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    color: var(--dark-neutral);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:root {
    --bright-purple: #734B5e;
    --purple: #846A6A;
    --gray-purple: #A2999E;
    --orange: #BC5F04;
    --dark-gray: #353B3C;
    --gray: #C6C7C4;
    --light-gray: #EEF0F2;

    --dark-neutral: var(--dark-gray);
    --medium-neutral: var(--gray);
    --light-neutral: var(--light-gray);
    
    --bright-color: var(--bright-purple);
    --medium-color: var(--purple);
    --muted-color: var(--gray-purple);
    --accent-color: var(--orange);


}


/*Header formatting*/


.header {
    display: flex;
    background-color: var(--muted-color);
    align-items: center;
}

.logo {
    margin-left: 16px;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--bright-color);
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
    margin-left: auto;
    margin-right: 32px;
}

a {
    text-decoration: none;
    color: var(--bright-color);
}




/*Content formatting*/


.content{
    flex: 1;
}

.overview{
    display: flex;
    background-color: var(--muted-color);
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.overview-content{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.overview-paragraph, .overview-header {
    color: var(--bright-color);
}

.portfolio-button {
    background-color: var(--medium-neutral);
    color: var(--bright-color);
    width: 200px;
    align-self: center;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    font-weight: bolder;
}

.portfolio-button:hover {
    background-color: var(--dark-neutral);
    color: var(--bright-color);
    width: 200px;
    align-self: center;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    font-weight: bolder;
}

.overview-image {
    padding: 16px;
    margin-bottom: 16px;
}


/*Footer formatting*/

.footer {
    display: flex;
    max-height: 36px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--muted-color);
}

.footer-text {
    color: var(--bright-color);
}
